body, html {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('fedhill.jpeg');
  background-size: cover;
  background-attachment:fixed;
}

span {
  text-align: center;
  width:100%;
  margin:10px;
  font-size:20px;
  color:antiquewhite;
}

#header {
  top: 0px;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  background-color: #f9fafb;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#mapContainer{
 background-color: bisque;
 padding: 20px;
}