body{
  justify-content: center;
  background-image: url('fedhill.jpeg');
  background-size: cover;
  background-attachment:fixed;
  margin:0 auto;
}

span {
  text-align: center;
  width:100%;
  margin:10px;
  font-size:20px;
  color:antiquewhite;
}

#header {
  display: flex;
  justify-content: center;
  top: 0px;
  font-size: 60px;
  position: sticky;
  z-index: 2;
  margin-bottom: 50px;
  text-align: center;
  background-color: rgba(67, 96, 194, 0.596);
  width: 100%;
  height: 80px;
  color: rgb(51, 177, 194);
  text-shadow: 2px 2px 4px #000000;
}
#header p {
  margin:0;
  padding-left: 10px;
  padding-right: 10px;
}
#footer{
  bottom: 0px;
  position: fixed;
}
#flexContainer{
  display: flex;
  flex-flow: row;
  width: 80%;
  margin: 0 auto;
  padding: 30px;

}

#mapContainer{
 background-color: bisque;
 padding: 20px;
 height: 400px;
 width: 350px;
 margin: 20px;
 border-radius: 5%;
}

#addPlaceContainer{
 background-color: #DDEECA;
 padding: 20px;
 height: 200px;
 width: 350px;
 display: block;
 margin: 20px;
 border-radius: 5%;
}
#images{
  display: inline-block;
  width: 340px;
}
#images img {
  height: 200px;
  width: 300px;
}

#friendContainer{
  background-color: #CAECFF;
  /* height: 200px; */
  height: fit-content;
  width: 350px;
  margin: 20px;
  padding: 20px;
  border-radius: 5%;
}
#modalContainer{
 background-color: #F1E2FF;
 padding: 20px;
 height: 400px;
 width: 350px;
 margin: 20px;
 border-radius: 5%;
}
#modalCarouselContainer{
  background-color: paleturquoise;
  padding: 20px;
  height: 500px;
  width: 540px;
  margin: 20px;
  border-radius: 5%;
}

#friendList{
  display: block;
  background-color:#CAECFF;
}
#friendElement {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;

}
#friendList img{
  height: 70px;
  width:70px;
  border-radius: 5%;
}
#friendList button{
  background-color: rgb(190, 233, 224);
  height: 70px;
  width: 70px;
}
#friendList button:focus{
  outline:none;
}
.horizontal-scroll-rightClick:focus{
  outline: none;
}
.list {
  display:block;
  margin-bottom: 15px;
  overflow: hidden;
}
#iconInstagram{
  background-image: url(instagram.png);
  height: 25px;
  width:25px;
  background-size: contain;
  margin: 5px;
}
#iconFacebook{
  background-image: url(facebook.png);
  height: 25px;
  width:25px;
  background-size: contain;
  margin: 5px;
}
#iconLinkedIn{
  background-image: url(linkedin.png);
  height: 25px;
  width:25px;
  background-size: contain;
  margin: 5px;
}
.iconContainer{
  display: flex;
  width: 200px;
  margin-top: 10px;
}
#iconInstagram:hover, #iconFacebook:hover, #iconLinkedIn:hover{
  border:2px solid rgb(129, 82, 182);
}

.horizontal-scroll-rightClick{
  border: none;
  background-color: paleturquoise;
}
